.navbar {
    background-color: black;
    border-radius: 15px;
}

.navbar ul {
    overflow: auto;

}


.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: lime;
}

.search {
    float: right;
    color: aliceblue;
    padding: 12px 75px;
}

.navbar li :hover {
    background-color: lime;
    color: black;
   
}
.navbar input{
    border: 2px solid lime;
}